<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>AKAD.</title>
	<link rel="shortcut icon" href="/img/target.png">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<header class="header-main">
		<div class="container">
			<div class="header-top row align-items-center">
				<div class="col">
					<a class="header-logo" href="about.html">AKAD.</a>
				</div>
				<div class="col text-right">
					<div class="nav-icon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>

			<div class="header-title row">
				<div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<span class="header-title__subtitle">We're</span>
					<h1 class="header-title__title">creative agency</h1>
					<p class="header-title__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>

			<div class="header-text row">
				<div class="col-12 col-md-5">
					<img src="img/header-img.jpg" alt="" class="header-text__img">
				</div>
				<div class="col-12 col-md-6 offset-md-1">
					<h2 class="title">HISTORY OF AGENCY</h2>
					<p>Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi modi tempora incidunt ut labore.</p>
					<a href="#" class="btn btn--green header-text__btn">read more</a>
				</div>
			</div>
		</div>
	</header>