* {
	outline: none;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: $color_main;
}

a {
	transition: all ease .5s;
	color: inherit;

	&:hover {
		color: $color_main;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
img {
	max-width: 100%;
	height: auto;
}

.btn {
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 30px;
	border-radius: 0;
	min-width: 165px;

	&--white {
		background-color: #fff;
		color:  $color_green;
		border: 2px solid #fff;

		&:hover {
			color: #fff;
			background-color: $color_green;
		}
	}

	&--green {
		background-color: $color_green;
		color: #fff;
		border: 2px solid $color_green;

		&:hover {
			background-color: #fff;
			color:  $color_green;
		}

		&-slide {
			height: 30px;
			line-height: 26px;
			padding: 0 15px;
			font-size: 14px;
		}
	}
}
.section {
	padding-top: 40px;

	@media screen and (min-width: 1200px) {
		padding-top: 150px;
	}
}
.title {
	position: relative;
	color:  $color_main;
	font-size: 30px;
	font-weight: 700;
	display: inline-block;
	margin: 10px 0;
	text-transform: uppercase;
	z-index: 2;

	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 70px;
		height: 20px;
		background-color: $color_green;
		left: -1px;
		bottom: 0;
		z-index: -1;
	}

	&-text {
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 35px;
		text-align: center;

		@media screen and (min-width: 1024px) {
			margin-bottom: 95px;	
		}
	}
}
.subtitle {
	font-size: 14px;
	font-weight: 900;
	margin: 10px 0 25px;
}
.text {
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
}

.social {
	color: #999;
	font-size: 18px;
	text-align: right;

	& i:hover {
		color: $color_green;
	}

	& i:not(:first-child) {
		margin-left: 15px;
	}
}
.search {
	position: relative;
	height: 40px;
	line-height: 40px;

		input {
			background-color: #ececec;
			width: 100%;
			border: none;
			padding: 0 40px 0 15px;

			&::-webkit-input-placeholder {
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
			    font-size: 12px;
			    line-height: 48px;
			    text-transform: uppercase;
			}
			&::-moz-placeholder {
			  	font-family: 'Montserrat', sans-serif;
				font-weight: 700;
			    font-size: 12px;
			    line-height: 40px;
			    text-transform: uppercase;
			}
			&:-ms-input-placeholder {
			  	font-family: 'Montserrat', sans-serif;
				font-weight: 700;
			    font-size: 12px;
			    line-height: 40px;
			    text-transform: uppercase;
			}
			&:-moz-placeholder {
			  	font-family: 'Montserrat', sans-serif;
				font-weight: 700;
			    font-size: 12px;
			    line-height: 40px;
			    text-transform: uppercase;
			}
		}
		button {
			position: absolute;
			top: 0;
			right: 5px;
			border: none;
			background-color: transparent;
			color: $color_main;
			font-family: "Ionicons";
			font-size: 18px;
			outline: none;
		}
}
.hide {
	display: none;
}
